.preparing-modal-body {
    max-height: inherit !important;
}

#life-data-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#life-data-form > * {
    max-width: 300px;
}

#clients-settings-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sqlbox-block {
    min-width: 40%;
}

#json-display-block {
    min-width: 30%;
}