html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

header {
    align-self: center;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    background-color: rgb(232, 232, 232);
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

footer {
    background-color: #b3c4d2;
    padding: 5px 15px 10px 15px;
}

footer .github-url {
    align-self: flex-end;
    color: black;
}

footer .developer {
    margin: 0;
}

.margin-none {
    margin: 0;
}

.center {
    align-items: center;
}

.internal-interval-10 > * {
    margin-left: 10px;
    margin-right: 10px;
}
.internal-interval-5 > * {
    margin-left: 5px;
    margin-right: 5px;
}

.internal-interval-10 > *:first-child,
.internal-interval-5 > *:first-child {
    margin-left: 0;
}

.internal-interval-10 > *:last-child,
.internal-interval-5 > *:last-child {
    margin-right: 0;
}


.v-internal-interval-10 > * {
    margin-top: 10px;
    margin-bottom: 10px;
}
.v-internal-interval-5 > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.v-internal-interval-10 > *:first-child,
.v-internal-interval-5 > *:first-child {
    margin-top: 0;
}

.v-internal-interval-10 > *:last-child,
.v-internal-interval-5 > *:last-child {
    margin-bottom: 0;
}

.gray {
    color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* FLEX helpers*/
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-aligned {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}
