.info-slider-label {
    margin: 0;
    font-weight: bold;
}

.info-slider-label > span:first-child {
    color: rgba(0, 0, 0, 0.3);
}

.info-slider-label > span:last-child {
    color: rgb(0, 188, 212);
}